{% extends "bookings/base.html" %}
{% load static %}

{% block css %}
    <!-- Подключение файла стилей -->
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}
    <!-- Основной контент каталога -->
    <main class="container">

        <h2 class="menu-title">Каталог заведений</h2>

        <!-- Кнопки-ссылки для навигации по видам кухонь -->
        <div class="cuisine-filters">
            {% for category in categories %}
                <a href="#{{ category.name }}" class="filter-btn">{{ category.name }}</a>
            {% endfor %}
        </div>

        {% for category in categories %}
            <section id="{{ category.name }}">
                <h3 class="section-subtitle">{{ category.name }}</h3>
                <div class="restaurants-grid">
                    {% for restaurant, rating in restaurants %}
                        {% if restaurant.category.name == category.name %}
                            <a href="{% url 'booking' %}" style="text-decoration: none;">
                                <article class="restaurant-card">
                                    <div class="restaurant-img-wrapper">
                                        <img src="../media/{{ restaurant.image }}" alt="Ресторан" class="restaurant-img">
                                        <span class="restaurant-badge">{{ category.name }}</span>
                                    </div>
                                    <div class="restaurant-content">
                                        <div class="restaurant-meta">
                                            <div class="restaurant-rating">
                                                <svg class="star-icon" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
                                                <span>{{ rating }}</span>
                                            </div>
                                        </div>
                                        <p class="restaurant-address">{{ restaurant.address }}</p>
                                    </div>
                                </article>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    </main>
{% endblock %}
