{% extends "bookings/base.html" %}
{% load static %}

{% block css %}
    <!-- Подключение файла стилей -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <!-- Основной контент с формой -->
    {% if form.errors %}
        <div>
            {{ form.errors }}
        </div>
    {% endif %}

    <main class="auth-section">
        <div class="form-container">
            <h2>Вход</h2>
            <p class="form-subtitle">Войдите в аккаунт, чтобы получить доступ ко всем возможностям</p>

            <form action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                    {{ form.username }}
                </div>

                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Пароль</label>
                    {{ form.password }}
                </div>

                <button type="submit" class="btn-submit">Войти</button>
            </form>

            <div class="form-footer">
                Нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться</a>
            </div>
        </div>
    </main>
{% endblock %}
